body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./backimage.jpg');
    background-size: cover;
    background-position: center;
}

.dashboard {
    display: flex;
}

.sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
}

.sidebar ul li a.active {
    font-weight: bold;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.card p {
    margin: 0;
    font-size: 24px;
}

table {
    margin-top: 5px;
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ffffff;
}

.triaged-column {
    width: 80px;
}

.red-led {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
}

.transparent-led {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    display: inline-block;
}

.pie-chart-container {
    position: fixed;
    top: -70px;
    right: 150px; 
    width: 300px; 
    height: 300px; 
}

.ide {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    font-family: Arial, sans-serif;
}

canvas {
    max-width: 100%;
    height: auto;
}
