body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./backimage.jpg');
    /* Replace 'path/to/your/image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
}


.dashboard {
    display: flex;
}

.sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
}

.sidebar ul li a.active {
    font-weight: bold;
}

.main-content {
    flex: 1;
    padding: 20px;
}

/* .header {
    margin-left: 300px;
    margin-bottom: 20px;
} */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.card p {
    margin: 0;
    font-size: 24px;
}

/* Table styles */
table {
    margin-top: 5px;
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* tr:nth-child(even) {
    background-color: #ffffff;
} */

/* Add hover effect to table rows */
tr:hover {
    background-color: #ffffff;
}

/* Adjust size of Triaged column */
.triaged-column {
    width: 80px;
    /* Adjust the width as needed */
}


.red-led {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
}

.transparent-led {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    display: inline-block;
}